input {
    font-size     : 20px;
    border-radius : 5px;
    border        : 1px solid silver;
    padding       : 0 10px;
}

input::placeholder {
    color : lightgray;
}

.items > .item:hover {
    background : #f1f1f1 !important;
}

.items > .item {
    border-left : 6px solid transparent;
}

.items > .item.selected {
    border-left : 6px solid #009ed0;
    background  : #eaeaea;
}